.Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.columnas {
  list-style: none;
  padding: 0 ;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  
}

.card {
  border: 2px solid white;
  padding: 15px ;
  position: relative;
  border-radius: 20px;
  height: 120px;
  color: white;
}

.imagen{
  position: absolute;
  right: -15px;
  top: 30px;

}

.nombreTipos h3{
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}

.tipos{
  display: flex;
  flex-direction: column;
  

}

.tipo{
  margin: 0 0 3px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 3px 10px;
  align-self: flex-start;
  line-height: 16px;
  text-transform: capitalize;
}